# Игнорировать конкретный файл
data/yandmast_obr2.csv  # Правильно игнорирует конкретный большой файл

# Игнорировать временные файлы Jupyter
*.ipynb_checkpoints/    # Игнорирует временные файлы автосохранения
*.pyc                  # Игнорирует скомпилированные Python файлы
__pycache__/           # Игнорирует директории с байт-кодом Python

# Игнорировать файлы виртуального окружения
venv/                  # Игнорирует директорию виртуального окружения
.venv/                # Альтернативное расположение виртуального окружения
catboost_info/         # Игнорирует папку с информацией о CatBoost
.catboost_info/        # Альтернативная папка с информацией о CatBoost