# --- Игнорировать ненужные файлы проекта ---
ts_check_homo.py
ts_check.py
merge_and_clean_data.py
forecast_excellent.ipynb
forecast_observation.ipynb

# --- Уже существующие правила ---
# Игнорировать конкретный файл
data/yandmast_obr2.csv

# Игнорировать временные файлы Jupyter
*.ipynb_checkpoints/
*.pyc
__pycache__/

# Игнорировать файлы виртуального окружения
venv/
.venv/